/* Code tidied up by ScrapBook */
.top-nav { color: rgb(255, 255, 255); background: rgb(35, 35, 35) url("../img/logo.png") no-repeat scroll center center; }
.top-nav .wrap { padding: 20px; }
.top-nav ul > li { display: inline-block; margin: 0px 30px; font-size: 12px; line-height: 1em; }
.top-nav ul > li::before { content: ""; display: inline-block; height: 1em; margin: 0px 8px 0px 0px; border-left: 2px solid rgb(32, 174, 198); vertical-align: bottom; }
.top-nav ul > li a { color: rgb(255, 255, 255); text-transform: uppercase; text-decoration: none; }
.top-nav ul > li a:hover { color: rgb(32, 174, 198); }
.block-1 { height: 490px; background: rgba(0, 0, 0, 0) url("../img/bg-top.jpg") no-repeat scroll center 0px; }
.block-1 .wrap { padding: 20px 40px; }
.block-1 .cont-left { position: relative; float: left; width: 50%; }
.block-1 h1.title { width: 52%; height: 100px; font-size: 45px; line-height: 1em; color: rgb(32, 174, 198); }
.block-1 h1.title > span { display: block; font-weight: 400; word-spacing: 7px; letter-spacing: 3px; font-size: 28px; line-height: 1.4em; color: rgb(34, 34, 34); }
.block-1 h1.title > small { font-size: 34px; font-weight: 800; letter-spacing: 2px; }
.block-1 .sale { position: absolute; top: 26px; left: -30px; font-weight: 700; font-size: 22px; line-height: 1em; text-transform: uppercase; }
.block-1 .sale > strong { font-size: 1.2em; vertical-align: bottom; }
.cost { padding: 6px; border: 1px solid rgba(32, 174, 198, 0.5); }
.cost > span { display: block; float: left; width: 50%; padding: 6px 0px 2px; text-align: center; text-transform: uppercase; font-size: 44px; line-height: 1em; color: rgb(255, 255, 255); }
.cost > span small { font-size: 0.6em; }
.cost > span.old-cost { font-weight: 300; text-decoration: line-through; background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%; }
.cost > span.new-cost { font-weight: 700; background: rgb(32, 174, 198) none repeat scroll 0% 0%; }
.block-1 .cost { margin: 250px 20px 0px; }
.block-1 .cont-right { float: right; width: 50%; margin: -100px 0px 0px; padding: 20px 0px 0px 60px; }
.block-1 .list { padding: 6px; border: 1px solid rgba(0, 0, 0, 0.2); }
.block-1 .list ul, .block-1 .list .form { padding: 30px 20px 40px; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; }
.block-1 .list ul > li { position: relative; height: 64px; margin: 0px 0px 30px; padding: 8px 0px 0px 84px; text-transform: uppercase; color: rgb(255, 255, 255); font-weight: 700; background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%; }
.block-1 .list ul > li::before { content: ""; position: absolute; display: block; width: 64px; height: 64px; top: 0px; left: 0px; background: rgba(0, 0, 0, 0) url("../img/b1-icon.png") no-repeat scroll 0% 0%; }
.block-1 .list ul > li:nth-child(1)::before { background-position: 0px 0px; }
.block-1 .list ul > li:nth-child(2)::before { background-position: -64px 0px; }
.block-1 .list ul > li:nth-child(3)::before { background-position: -128px 0px; }
.block-1 .button-m { margin-top: -40px; }
.block-1 .timer { text-align: center; }
.block-1 .timer > p { font-size: 14px; text-transform: uppercase; letter-spacing: 1px; }
.block-1 .input-b { margin: 0px auto 16px; }
.block-2 .wrap { padding: 50px 0px 70px; }
.block-2 .title > span { color: rgb(32, 174, 198); font-weight: 700; }
ul.adv { text-align: center; }
.block-2 .adv > li { width: 33%; display: inline-block; vertical-align: top; }
.block-2 .adv > li::before { content: ""; display: block; width: 136px; height: 134px; margin: 0px auto 20px; background: rgba(0, 0, 0, 0) url("../img/b2-icon.png") no-repeat scroll 0% 0%; }
.block-2 .adv > li:nth-child(1)::before { background-position: 0px 0px; }
.block-2 .adv > li:nth-child(2)::before { background-position: -136px 0px; }
.block-2 .adv > li:nth-child(3)::before { background-position: -272px 0px; }
.block-2 .adv > li:nth-child(4)::before { background-position: -408px 0px; }
.block-2 .adv h3 { padding: 0px 0px 5px; font-size: 16px; text-transform: uppercase; color: rgb(32, 174, 198); }
.block-2 .adv p { font-size: 14px; }
.block-3 { background: rgb(32, 174, 198) none repeat scroll 0% 0%; }
.block-3 h2.title { float: left; width: 560px; padding: 0px 80px 0px 0px; color: rgb(4, 89, 104); }
.block-3 h2.title > span { display: block; padding: 0px 0px 0px 40px; color: rgb(255, 255, 255); font-weight: 700; }
.block-3 .pic-1 { display: block; float: left; margin: -30px 0px 30px; }
.block-3 .list > li { margin: 8px 0px; padding: 5px 10px 5px 40px; font-size: 18px; line-height: 1.4em; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0) url("../img/marker.png") no-repeat scroll 12px 10px; }
.block-3 .list > li:nth-child(2n) { background-color: rgba(0, 0, 0, 0.1); }
.block-3 .spec-1 { padding: 0px 0px 0px 540px; }
.block-3 h3.title { position: relative; clear: both; margin: 50px 0px 30px; text-align: left; }
.block-3 h3.title::before { content: ""; position: absolute; width: 100%; height: 2px; top: 50%; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 1; }
.block-3 h3.title > span { position: relative; margin: 0px 0px 0px 40px; padding: 0px 20px; font-size: 24px; color: rgb(255, 255, 255); background: rgb(32, 174, 198) none repeat scroll 0% 0%; z-index: 10; }
.block-3 .pic-2 { display: block; float: right; }
.block-3 .spec-2 { padding: 10px 540px 0px 0px; }
.block-4 { background: rgba(0, 0, 0, 0) url("../img/bg-exp.jpg") no-repeat scroll center 0px; }
.block-4 h2.title { color: rgb(255, 255, 255); }
.block-4 h2.title > span { font-weight: 700; color: rgb(243, 178, 24); }
.block-4 .exp-cont { position: relative; width: 90%; margin: 80px auto 0px; padding: 30px; background: rgb(255, 255, 255) url("../img/bg-quot.png") no-repeat scroll 95% 8%; }
.block-4 .exp-cont::before { content: ""; position: absolute; display: block; width: 100%; height: 100%; top: -7px; left: -7px; padding: 6px; border: 1px solid rgba(255, 255, 255, 0.2); box-sizing: content-box; }
.block-4 .exp-cont > img { position: relative; display: block; float: left; margin: -80px 20px 0px 0px; }
.block-4 .exp-cont > h3 { padding: 0px 0px 20px; text-transform: uppercase; }
.block-4 .exp-cont > h3 small { text-transform: none; font-weight: 400; }
.block-4 .exp-cont > p { text-align: justify; }
.block-5 .wrap { padding: 40px 0px; }
.block-5 .title { margin: 0px auto 10px; }
.block-5 .title > span { color: rgb(32, 174, 198); font-weight: 700; }
.block-5 .video-container { position: relative; width: 80%; height: 360px; margin: 0px auto 50px; overflow: hidden; background: rgb(0, 0, 0) none repeat scroll 0% 0%; outline: 8px solid rgb(236, 236, 236); }
.video-container iframe, .video-container object, .video-container embed { position: absolute; display: block; width: 100%; height: 100%; top: 0px; left: 0px; }
.block-5 .img-cont > img { display: block; float: left; width: 47%; margin: 0px 1.5%; }
.block-5 .button-m { margin-top: 40px; }
.block-6 { background: rgb(32, 174, 198) none repeat scroll 0% 0%; }
.block-6 .wrap { padding: 40px 0px 50px; }
.block-6 h2.title { color: rgb(4, 89, 104); }
.block-6 h2.title > span { color: rgb(255, 255, 255); font-weight: 700; }
.block-6 .rev-slider {  }
.block-6 .rev-item { float: left; width: 30.33%; margin: 100px 1.5% 0px; padding: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.block-6 .rev-item > div { margin: -100px auto 0px; padding: 6px; border: 1px solid rgba(0, 0, 0, 0.1); }
.block-6 .rev-item > div img { display: block; }
.block-6 .rev-item > h3 { padding: 15px 0px 10px; text-transform: uppercase; text-align: center; font-size: 16px; }
.block-6 .rev-item > p { height: 180px; font-weight: 300; text-align: center; }
.block-7 .wrap { padding: 50px 0px 70px; }
.block-7 .title > span { color: rgb(243, 178, 24); font-weight: 700; }
.block-7 .deliv > li { float: left; width: 50%; padding: 0px 25px; text-align: center; }
.block-7 .deliv > li::before { content: ""; display: block; width: 236px; height: 151px; margin: 0px auto 20px; background: rgba(0, 0, 0, 0) url("../img/b7-icon.png") no-repeat scroll 0% 0%; }
.block-7 .deliv > li:nth-child(1)::before { background-position: 0px 0px; }
.block-7 .deliv > li:nth-child(2)::before { background-position: -236px 0px; }
.block-7 .deliv > li:nth-child(3)::before { background-position: -472px 0px; }
.block-7 .deliv p { font-size: 14px; }
.copyright { padding: 20px 0px; text-align: center; color: rgba(255, 255, 255, 0.8); font-size: 14px; line-height: 1.3em; background: rgb(35, 35, 35) none repeat scroll 0% 0%; }
.copyright .mob-vis { display: none; }
@media screen and (max-width: 959px) {
  .wrap { width: 640px; padding: 40px 20px; }
  .block-1 .list ul > li { font-size: 13px; }
  .top-nav { display: none; }
  .block-1 { height: 534px; background: rgba(0, 0, 0, 0) url("../img/bg-top-640.jpg") no-repeat scroll center 0px; }
  .block-1 .wrap { padding: 0px; }
  .block-1 h1.title { width: 100%; height: 120px; line-height: 0.65em; }
  .block-1 h1.title > span { padding: 8px 0px 35px; line-height: 1em; color: rgb(255, 255, 255); }
  .block-1 .sale { left: -15px; top: 48px; font-size: 16px; }
  .cost > span { float: none; width: 100%; font-size: 40px; }
  .block-1 .cost { margin: 250px 35px 0px; }
  .block-1 .cont-right { margin: 0px; padding: 20px 10px 0px; }
  .block-1 .list { padding: 0px; border: 0px none; }
  .block-1 .list ul, .block-1 .list .form { padding: 0px; background: transparent none repeat scroll 0% 0%; }
  .block-1 .button-m { margin-top: 0px; }
  .block-2 .wrap { padding-bottom: 20px; }
  .block-2 .adv > li { margin-bottom: 40px; padding: 0px 10px; width: 32%; }
  .block-2 .adv h3 { font-size: 14px; }
  .block-3 h2.title { float: none; width: 100%; margin: 0px 0px 20px; padding: 0px; }
  .block-3 h2.title > span { padding: 0px; }
  .block-3 .pic-1, .block-3 .pic-2 { float: none; margin: 0px auto; }
  .block-3 .list { float: none; width: 80%; margin: 0px auto; padding: 20px 0px 0px; }
  .block-3 .list > li { padding-left: 45px; }
  .block-3 h3.title { text-align: center; }
  .block-3 h3.title > span { margin: 0px; }
  .block-4 { background: rgba(0, 0, 0, 0) url("../img/bg-exp-640.jpg") no-repeat scroll center 0px; }
  .block-5 .video-container { width: 100%; }
  .block-6 .slick-arrow { display: inline-block; position: absolute; width: 17px; height: 28px; cursor: pointer; z-index: 99; bottom: 0px; background: rgba(0, 0, 0, 0) url("../img/but-sl.png") no-repeat scroll 0% 0%; opacity: 0.5; transition: all 0.2s ease 0s; }
  .block-6 .slick-prev { left: 30%; background-position: 0px 0px; }
  .block-6 .slick-next { background-position: 100% 0px; right: 30%; }
  .block-6 .slick-arrow:hover { opacity: 1; }
  .block-6 .slick-dots { padding: 30px 0px 0px; text-align: center; }
  .block-6 .slick-dots li { display: inline-block; width: 18px; height: 18px; margin: 0px 5px; border-radius: 50%; background: rgb(17, 129, 149) none repeat scroll 0% 0%; cursor: pointer; }
  .block-6 .slick-dots li.slick-active { background: rgb(4, 89, 104) none repeat scroll 0% 0%; transition: all 0.2s ease 0s; }
  .block-6 .slick-dots li > button { display: none; }
  .block-6 .rev-item { margin: 100px 15px 0px;  }
  .block-7 .wrap { padding: 40px 0px; }
  .block-7 .deliv { text-align: center; }
  .block-7 .deliv > li { display: inline-block; float: none; width: 240px; margin: 0px 30px 30px; padding: 0px; vertical-align: top; }
  .block-7 .deliv > li:last-child { margin-bottom: 0px; }
}

@media only screen and (min-width: 640px) and (max-width: 969px) {
  .block-6 .rev-item {
    margin: 100px 1.5% 0px;
  }
}

.footer {
    padding: 20px 0;
    text-align: center;
}

.footer p {
    margin: 10px 0;
}

.footer a {
    text-decoration: underline;
}

@media screen and (max-width: 639px) {
  .wrap { width: 320px; padding: 40px 10px; }
  h2.title { font-size: 32px; line-height: 1.4em; }
  .block-1 { height: auto; background: rgba(0, 0, 0, 0) url("../img/bg-top-320.jpg") no-repeat scroll center 0px; }
  .block-1 h1.title { width: 100%; height: 110px; font-size: 30px; line-height: 1em; }
  .block-1 h1.title > small { font-size: 26px; }
  .block-1 h1.title > span { padding: 5px 0px 30px; font-size: 20px; letter-spacing: 1px; }
  .block-1 .cont-left { float: none; width: auto; padding: 165px 0px 0px; }
  .block-1 .sale { left: 25px; top: 2px; }
  .block-1 .sale > b { display: none; }
  .block-1 .sale > strong { vertical-align: baseline; line-height: 1em; }
  .block-1 .cost { margin-top: 0px; }
  .block-1 .cont-right { float: none; width: auto; padding: 14px 0px 18px; }
  .block-1 .list ul { padding: 0px 10px; }
  .block-2 h2.title > span { display: block; }
  .block-2 .adv > li { float: none; width: auto; }
  .block-3 .list { width: 100%; }
  .block-4 { background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgb(2, 6, 54) 0%, rgb(31, 36, 88) 100%) repeat scroll 0% 0%; }
  .block-4 .exp-cont { width: 100%; padding: 30px 15px; }
  .block-4 .exp-cont > h3 { clear: both; padding-top: 20px; }
  .block-5 .title > span { display: block; }
  .block-5 .video-container { outline: medium none; height: 220px; }
  .block-5 .img-cont > img { float: none; width: auto; margin: 20px auto 0px; }
  .block-6 h2.title { margin-bottom: 20px; }
  .block-6 .slick-prev { left: 20%; }
  .block-6 .slick-next { right: 20%; }
  .block-7 .deliv > li { display: block; margin: 0px auto 30px; }
  .countbox { padding-bottom: 40px; }
  .copyright .mob-hid { display: none; }
  .copyright .mob-vis { display: inline; }
}

.feedback {
  width: 75px;
  height: 70px;
  position: fixed;
  right: 0;
  top: 15%;
  display: flex;
  align-items: center;
  background: #fff;
  padding-left: 10px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  cursor: pointer;
  z-index: 1000;
}

.popup-window {
  display: none;
  width: 300px;
  position: fixed;
  right: 0;
  top: 15%;
  padding: 35px 20px 40px;
  background: rgb(32, 174, 198);
  border-radius: 5px;
  z-index: 2000;
}

.popup-window form {
  width: 100%;
}

.popup-window .input-b {
  margin: 0px auto 16px;
}

.popup-window input {
  font-size: 15px;
}

.popup-window .button-m {
  width: 100%;
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 27px;
  height: 27px;
  background-color: rgb(32, 174, 198);
  cursor: pointer;
}

.close:before {
  content: "";
  background: #fff;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 13px;
  left: 4px;
  transform: rotate(-45deg);
}

.close:after {
  content: "";
  background: #fff;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 13px;
  left: 4px;
  transform: rotate(45deg);
}

label {
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
}

@-webkit-keyframes AnimationName {
  100% {background-position: 100% 50%;}
  0% {background-position: 0% 50%;}
}
@-moz-keyframes AnimationName {
  100% {background-position:100% 50%;}
  0% {background-position:0% 50%;}
}
@-o-keyframes AnimationName {
  100% {background-position:100% 50%;}
  0% {background-position:0% 50%;}
}
@keyframes AnimationName {
  100% {background-position:100% 50%;}
  0% {background-position:0% 50%;}
}


.button-m {
position: relative;
overflow: hidden;
}

.button-m:before {
  display: block;
  content: '';
  width: 140%;
  height: 100%;
  background: url(../img/animate_bg.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-animation: AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;
  -moz-animation: AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;
  -o-animation: AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;
  animation: AnimationName 2s cubic-bezier(0.43, 0.61, 1, 1) infinite;
  position: absolute;
  top: 0;
  left: -20%;
}